* {
  box-sizing: border-box;
  background-color: black;
}

.calculator {
    display: grid;
    background-color: grey;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    max-width: 300px;
    margin: auto;
    padding: 10px;
    border: 3px solid darkgrey;
    border-radius: 5px;
    box-shadow: 3px 3px 2px darkgrey;
}

input {
  width: 100%;
} 

.screen {
  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
}

.btn, .equals, .clear {
  background-color: #e6e6e6;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
  
.btn:hover {
  background-color: darkgray;
}
  
#clear, #backspace, #divide, #multiply, #subtract, #add, #equals {
  background-color: #ff9900;
  color: white;
}
  
#clear:hover, #backspace:hover, #divide:hover, #multiply:hover, #subtract:hover, #add:hover, #equals:hover {
  background-color: #804d02;
}

#screen-grid {
  grid-column: 1 / span 4;
}

#zero {
  grid-column: 2 / span 1;
}

#decimal {
  grid-column: 3;
}

#equals {
  grid-row: 6 / span 1;
  grid-column: 4;
}

#empty {
  grid-row: 2 / span 1;
  grid-column: 1 / span 3;
  color: #e6e6e6;
}

.empty:hover {
  color: black;
}